/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  position: relative;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    z-index: 2;
  }

  #menu-toggle {
    display: none;
  }

  #menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #ff385c;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
  }

  #menu-toggle:checked ~ #menu {
    display: block;
  }
}

/* -------  Form Styles ------- */

form label {
  display: block;
  margin-top: 10px;
}

form input,
form select {
  width: 300px;
  padding: 5px;
}

form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #00a699;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  form select,
  form input {
    width: 100%;
  }
}

/* -------  Footer ------- */

footer {
  background-color: #00a699;
  color: #fff;
  padding: 20px;
  text-align: center;
}